minecraft/

## IDEA files
.idea/
build/
out/
.gradle/
*.iml
*.ipr
*.iws

## Eclipse files
bin/
eclipse/
.project
.classpath
.settings/

## Minecraft files
config/
logs/
saves/
usernamecache.json
options.txt
crash-reports/
screenshots/

## Forge files
gradle/
gradlew
gradlew.bat